<header>
    <nav class="nav navbar-light navbar-expand-lg bg-light">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/" style="color: #880202;">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about" style="color: #880202;">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register" style="color: #880202;">Registeration(Admitting Patient)</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/appointment" style="color: #880202;">Book an appointment(Non-Admitted
                        Patient)</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/doctor" style="color: #880202;">Available doctors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact" style="color: #880202;">Contact us</a>
                </li>
            </ul>
    </nav>
</header>