<!DOCTYPE html>
<html>

<head>
	<title>About K Hospital</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="css/index.css">
</head>

<body>
	<h1>K HOSPITAL</h1>
	<%- include('includes/nav.ejs') %>
	<h2>About Us</h2>
	<div id="div2">
		<p>We are now also availabe as online.<br>
			It is now easier too book an appointment ONLINE.<br>
			You can register the patients appointment with the desired doctor through our register column. We are having
			doctors with different specialisation.<br>
		</p>
	</div>


</body>
<%-include('includes/end.ejs') %>

</html>