<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>K HOSPITAL</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/index.css">
    <title>Appointment</title>

</head>

<body>
    <h1>K HOSPITAL</h1>
    <%- include('includes/nav.ejs')%>
    <h2>Create an Appointment</h2>
    <div id="div5">
        <form method="POST">
            Username(Patient Name): <input type="text" name="user" required><br>
            Password: <input type="password" name="password" required><br>
            Address: <input type="text" name="address" required><br>
            Phone-No: <input type="integer" name="pno" required=""><br>
            Select Doctor:<br>
            <input type="radio" name="doctor">Doctor1<br>
            <input type="radio" name="doctor">Doctor2<br>
            <input type="radio" name="doctor">Doctor3<br>
            <input type="radio" name="doctor">Doctor4<br>
            <input type="Submit" value="Register">
            <input type="Reset">
        </form><br>
    </div>

</body>
<%-include('includes/end.ejs') %>

</html>